.App {
  background-color: rgb(69, 0, 0);
}

/* .App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
} */

/* @media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
} */

/* Footer */
footer {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.4);
    margin: 0;
}
